.new-survey
  display flex
  justify-content center
  flex-direction column
  width 200px
  background-color $btn-primary-bg

  .add-survey
    display block
    padding 5px
    color white
    outline none
    border none
    border-bottom 1px solid white
    background-color $btn-primary-bg

  ul
    text-align left

    li
      padding-left 5px
      cursor pointer
      color white

      &:hover
        text-decoration underline